<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=bookingdb;Integrated Security=True;Pooling=False;Encrypt=True;TrustServerCertificate=True;"
   providerName="Microsoft.Data.SqlClient" />
  <add name="AdminBookingManagement.Properties.Settings.bookingdbConnectionString"
   connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=bookingdb;Integrated Security=True;Pooling=False;Encrypt=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>